<div class="slide-in-content"  style="overflow:auto; padding-bottom:30px;margin-top:10px;height:100%;background-color:white;color:blue">
  <div>
    <div style="overflow:auto;">
      <div class="close-slider" style="float:right;font-size:30px;background-color:black">X</div>
        <ul>
          <li>Gym Owner: <%=owner%></li>
          <li>Equipment Available:<ul>
              <% if(newinfo.attributes.includes('indoor_cycle_bike')) {%>
                <li>Indoor Cycle Bike</li>
              <%}%>
              <% if(newinfo.attributes.includes('treadmill')) {%>
                <li>Treadmill</li>
              <%}%>
              <% if(newinfo.attributes.includes('stability_ball')) {%>
                <li>Stability Ball</li>
              <%}%>
              <% if(newinfo.attributes.includes('kettlebell')) {%>
                <li>Kettlebell</li>
              <%}%>
              <% if(newinfo.attributes.includes('dumbell')) {%>
                <li>Dumbbell</li>
              <%}%>
              <% if(newinfo.attributes.includes('benchpress')) {%>
                <li>Benchpress</li>
              <%}%>
              <% if(newinfo.attributes.includes('barbell')) {%>
                <li>Barbell</li>
              <%}%>
              <% if(newinfo.attributes.includes('squat_rack')) {%>
                <li>Squat Rack</li>
              <%}%>
              <% if(newinfo.attributes.includes('elliptical')) {%>
                <li>Elliptical</li>
              <%}%>
            </ul>
          </li>
          <li>Cost: $<%= gyminfo[0].cost %> </li>
          <li>Location: <%= gyminfo[0].locationofGym %></li>
          <li>Rating: <%= rating %>     
            <% if (rating >= 1) {%><span class="fa fa-star checked"></span> <% } else {%> <span class="fa fa-star"></span> <%}%>
            <% if (rating >= 2) {%><span class="fa fa-star checked"></span> <% } else {%> <span class="fa fa-star"></span> <%}%>
            <% if (rating >= 3) {%><span class="fa fa-star checked"></span> <% } else {%> <span class="fa fa-star"></span> <%}%>
            <% if (rating >= 4) {%><span class="fa fa-star checked"></span> <% } else {%> <span class="fa fa-star"></span> <%}%>
            <% if (rating >= 5) {%><span class="fa fa-star checked"></span> <% } else {%> <span class="fa fa-star"></span> <%}%>
          </li>
        </ul>
      </div>
<!--        <div class="slideshow-container">

          <div class="mySlides fade">
            <div class="numbertext">1 / 2</div>
            <img src="https://media.istockphoto.com/vectors/gym-01-flat-colorful-illustrations-vector-id639280710?k=6&m=639280710&s=612x612&w=0&h=k27ZoJLOYhQpDWEV9nXDPuMjpmR66FQ8L6ncAdlZSl0=" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">2 / 2</div>
            <img src="https://i.etsystatic.com/15433923/r/il/42cb65/1269715624/il_570xN.1269715624_4r9e.jpg" style="width:100%">
          </div>
          
          
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
          </div>
          
          <script>
          var slideIndex = 1;
          showSlides(slideIndex);
          
          function plusSlides(n) {
            showSlides(slideIndex += n);
          }
          
          function currentSlide(n) {
            showSlides(slideIndex = n);
          }
          
          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
          }
          </script> -->
          
        <button onclick="location.href='http://gg.mymsseprojects.com/reservation?id=<%= gyminfo[0].gymID %>'" style="margin-left:40%">Reserve Now</button>
        </div>
      </div>
