<div style="float:right; margin-right:10px; clear:both">
        <ul>
          <li>Gym Owner: <%= gyminfo[0].gymOwner %></li>
          <li>Attributes: <%= gyminfo[0].attributes %></li>
          <li>Cost: <%= gyminfo[0].cost %> </li>
          <li>Location: <%= gyminfo[0].locationofGym %></li>
          <li>Rating: <%= gyminfo[0].rating %></li>
        </ul>
        <button>Reserve Now</button>
      </div>